<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/styles/index.css">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="../static/js/index.js"></script>
    <title>模型转换: {{ username }}</title>
</head>
<body>
    <!-- 导航栏 -->
    <div class="navigator">
        <p style="display: inline">Hello, {{ username }}</p>
        <!-- 按钮组 -->
        <div class="navi_btns">
            <button id="logout_btn" type="button">登出</button>
        </div>
    </div>

    <!-- 转换 -->
    <div class="main">
        <hr/>
        <!-- 输入格式 -->
        <p>输入格式：</p>
        <input type="radio" id="radio_input_mmdet" name="input_format" value="mmdet" checked/>mmdetection
        <input type="radio" id="radio_input_mmcls" name="input_format" value="mmcls"/>mmclassification
        <input type="radio" id="radio_input_onnx"  name="input_format" value="onnx"/>ONNX


        <!-- mmdetection输入 -->
        <div class="input_upload" id="input_mmdet" style="display: block">
            <label class="upload_btn" for="mmdet_config">配置文件:</label>
            <input class="upload_input" type="file" id="mmdet_config" accept="application/json">
            <br><br>
            <label class="upload_btn" for="mmdet_pth">权重文件:</label>
            <input class="upload_input" type="file" id="mmdet_weight" accept=".pth">
        </div>

        <!-- mmclassification输入 -->
        <div class="input_upload" id="input_mmcls" style="display: none">
            <label class="upload_btn" for="mmcls_config">配置文件:</label>
            <input class="upload_input" type="file" id="mmcls_config" accept="application/json">
            <br><br>
            <label class="upload_btn" for="mmcls_pth">权重文件:</label>
            <input class="upload_input" type="file" id="mmcls_weight" accept=".pth">
        </div>

        <!-- onnx输入 -->
        <div class="input_upload" id="input_onnx" style="display: none">
            <label class="upload_btn" for="onnx_file">权重文件:</label>
            <input class="upload_input" type="file" id="onnx_weight" accept=".onnx">
        </div>

        <hr/>

        <p>输出格式：</p>
        <input type="radio" id="radio_output_nnie"    name="output_format" value="nnie" checked/>NNIE
        <input type="radio" id="radio_output_tengine" name="output_format" value="tengine"/>Tengine
        <input type="radio" id="radio_output_onnx"    name="output_format" value="onnx"/>ONNX

        <p></p>

        <label for="output_name">输出名称：</label>
        <input type="text" id="output_name" name="output_name"/>


        <hr/>
        <p>转换参数：</p>
            <div class="convert_param_common">
                <!-- 输入尺寸 -->
                <label>输入尺寸：</label>
                <label for="input_width">W:</label>
                <input type="text" id="input_width" name="input_width" maxlength="4" value="{{ input_width }}">
                <label for="input_height">H:</label>
                <input type="text" id="input_height" name="input_height" maxlength="4" value="{{ input_height }}">
            </div>

            <p></p>

            <div class="convert_param" id="param_nnie" style="display: block">
                <!-- RGB顺序 -->
                <label>RGB Order：</label>
                <select name="rgb_order" id="rgb_order">
                    <option value="RGB">RGB</option>
                    <option value="BGR">BGR</option>
                </select>

                <p></p>

                <!-- mean scale -->
                <label>mean: </label>
                <input type="text" id="nnie_mean" name="nnie_mean" value="128" style="max-width: 100px">
                <label>scale: </label>
                <input type="text" id="nnie_scale" name="nnie_scale" value="0.003921" style="max-width: 100px">

                <p></p>

                <!-- image list -->
                <label>image archive(图片压缩包): </label>
                <input type="file" id="img_archive"/>
            </div>

            <div class="convert_param" id="param_tengine" style="display: none">

            </div>

            <div class="convert_param" id="param_onnx" style="display: none">

            </div>
        <hr/>
        <button id="convert_btn">转    换</button>
    </div>

    <!-- 任务队列 -->
    <div class="tasks">
        <p>任务</p>
        <table id="tasks_tb">
            <tr>
                <td>时间</td>
                <td>格式</td>
                <td>名称</td>
            </tr>
        </table>
    </div>
</body>
</html>