<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index.css') }}">
    <script type=text/javascript src="{{ url_for('static', filename='js/index.js') }}"></script>
    <title>模型转换: {{ username }}</title>
</head>
<body onload="set_input_format('{{ input_format }}')">
    <!-- 导航栏 -->
    <nav class="navigator">
        <!-- 按钮组 -->
        <div class="navi_btns">
            <button type="button" onclick="window.location.href='{{ url_for('logout')}}'">登出</button>
        </div>
    </nav>

    <div class="viewport">
        <!-- 转换 -->
        <div class="main">
            <hr/>
            <!-- 输入格式 -->
            <p>输入格式：</p>
            <input type="radio" id="radio_mmdet" name="input_format" onclick="select_input_format()" checked/>mmdetection
            <input type="radio" id="radio_mmcls" name="input_format" onclick="select_input_format()"/>mmclassification
            <input type="radio" id="radio_onnx" name="input_format" onclick="select_input_format()"/>ONNX

            <!-- mmdetection输入 -->
            <div class="input_upload" id="input_mmdet">
                <form method=post enctype=multipart/form-data>
                    <label class="upload_btn" for="mmdet_config">选择配置文件</label>
                    <input class="upload_hidden" type="text" name="input_format" value="mmdet">
                    <input class="upload_input" type="file" id="mmdet_config" name="mmdet_config" accept="application/json" onchange="form.submit()">
                </form>
                <p>{{ mmdet_config }}</p>
                <br>
                <form method=post enctype=multipart/form-data>
                    <label class="upload_btn" for="mmdet_pth">选择权重文件</label>
                    <input class="upload_hidden" type="text" name="input_format" value="mmdet">
                    <input class="upload_input" type="file" id="mmdet_pth" name="mmdet_pth" accept=".pth" onchange="form.submit()">
                </form>
                <p>{{ mmdet_pth }}</p>
            </div>

            <!-- mmclassification输入 -->
            <div class="input_upload" id="input_mmcls" style="display: none">
                <form method=post enctype=multipart/form-data>
                    <label class="upload_btn" for="mmcls_config">选择配置文件</label>
                    <input class="upload_hidden" type="text" name="input_format" value="mmcls">
                    <input class="upload_input" type="file" id="mmcls_config" name="mmcls_config" accept="application/json" onchange="form.submit()">
                </form>
                <p>{{ mmcls_config }}</p>
                <br>
                <form method=post enctype=multipart/form-data>
                    <label class="upload_btn" for="mmcls_pth">选择权重文件</label>
                    <input class="upload_hidden" type="text" name="input_format" value="mmcls">
                    <input class="upload_input" type="file" id="mmcls_pth" name="mmcls_pth" accept=".pth" onchange="form.submit()">
                </form>
                <p>{{ mmcls_pth }}</p>
            </div>

            <!-- onnx输入 -->
            <div class="input_upload" id="input_onnx" style="display: none">
                <form method=post enctype=multipart/form-data>
                    <label class="upload_btn" for="onnx_file">选择权重文件</label>
                    <input class="upload_hidden" type="text" name="input_format" value="onnx">
                    <input class="upload_input" type="file" id="onnx_file" name="onnx_file" accept=".onnx" onchange="form.submit()">
                </form>
                <p>{{ onnx_file }}</p>
            </div>

            <hr/>

            <p>输出格式：</p>
            <input type="radio" id="output_nnie" name="output_format" checked/>NNIE
            <input type="radio" id="output_tengine" name="output_format"/>Tengine
            <input type="radio" id="output_onnx" name="output_format"/>ONNX

            <hr/>
            <p>转换参数：</p>

            <hr/>
            <button id="convert_btn">转换</button>
        </div>

        <!-- 历史记录 -->
        <div class="history">
            <div class="history_title">
                <p>history</p>
            </div>
        </div>
    </div>




</body>
</html>