<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/styles/login.css">
    <title>模型转换 ---- 登录</title>
</head>
<body>
<div class="login">
    <form method="post" enctype="multipart/form-data">
        <div class="login_row">
            <div class="col-1">
                <label>用户名</label>
                <label>密 码</label>
            </div>
            <div class="col-2">
                <input type="text">
                <input type="password">
            </div>
        </div>

        <label>记住我</label>
        <input type="checkbox">

        <input type="button" value="登录">
    </form>
</div>
</body>
</html>
