body{
    margin: 0;
    padding: 0;
    width: 500px;
}

.navigator{
    height: auto;
    width: 100%;
    top: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    display: block;
    background-color: cornflowerblue;
}

.navi_btns{
    /*margin-left: 90%;*/
    float: right;
    width: auto;
}

.viewport{
    /*margin: 0;*/
    margin-top: 50px;
    width: 100%;
    padding: 0;
    position: fixed;
}

.main{
    position: relative;
    margin-left: 20%;
    margin-right: 0;
    /*float: none;*/
    overflow: hidden;
    width: auto;
    display: inline-block;
}

.history{
    position: absolute;
    float: right;
    right: 0;
    height: 100%;
    display: inline-block;
}

.history table{
    /*border: 1px solid black;*/
    border-collapse: collapse;
    text-align: center;
    width: 300px;
    table-layout: fixed;
    overflow-x: hidden;
    overflow-y: auto;
}

.history table tbody{
    border-spacing: 0;
}

.history table caption{
    background-color: #3f3f3f;
    color: white;
}

.history tr:nth-child(even) {
    background-color: #f2f2f2;
}

.history tr:hover {
    background-color: #ddd;
}

.history th {
    background-color: #3f3f3f;
    color: white;
}

#convert_btn{
    position: relative;
    left: 50%;
}

.input_upload form{
    display: inline-block;
    margin: 10px;
}

.upload_btn{
    padding:3px;
    background: #01AAED;
    color: #fff;
}

.upload_btn:hover {
    opacity: 0.9;
}

.input_upload{
    margin-top: 10px;
}

.input_upload h5{
    display: inline;
}

.upload_input{
    display: none;
}

.upload_hidden{
    display: none;
}