body{
    margin: 0;
    padding: 0;
}

.navigator{
    height: auto;
    width: 100%;
    top: 0;
    overflow: hidden;
    padding: 0;
    margin-left: 0;
    /*margin-bottom: 5px;*/
    position: fixed;
    display: block;
    background-color: cornflowerblue;
}

.navi_btns{
    margin-left: 90%;
    width: auto;
}

.viewport{
    margin-top: 30px;
}
.main{
    position: relative;
    left: 20%;
    width: auto;
    margin: 0;
}