body{
    margin: 0;
    padding: 0;
    width: 500px;
}

.navigator{
    height: auto;
    width: 100%;
    top: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    display: block;
    background-color: cornflowerblue;
}

.navi_btns{
    margin-right: 5%;
    float: right;
    width: auto;
}

.viewport{
    /*margin: 0;*/
    margin-top: 50px;
    width: 100%;
    padding: 0;
    position: fixed;
}

.main{
    position: relative;
    margin-left: 20%;
    /*float: none;*/
    overflow: hidden;
    width: 60%;
    display: inline-block;
}

.history{
    /*position: absolute;*/
    /*float: right;*/
    /*right: 0;*/
    /*height: 100%;*/
    /*display: inline-block;*/
    overflow: hidden;
    background-color: #3f3f3f;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#convert_btn{
    position: relative;
    left: 50%;
}

.input_upload form{
    display: inline-block;
    margin: 10px;
}

.upload_btn{
    padding:3px;
    background: #01AAED;
    color: #fff;
}

.upload_btn:hover {
    opacity: 0.9;
}

.input_upload{
    margin-top: 10px;
}

.input_upload p{
    display: inline;
}

.upload_input{
    display: none;
}

.upload_hidden{
    display: none;
}

.history_title{
    float: left;
    margin-left: 2%;
    height: auto;
}

.history_title p {
    margin: 0;
}

.convert_param input[type="text"] {
    max-width: 50px;
}