body
{
    background-color: lightgray;
}

div.login{
    background-color: white;
    display: block;
    margin: 0 auto;
    width: 250px;
    padding: 20px;
}

.login_row{
    display: flex;
    border: 10px;
}

.col-1{
    flex: 25%;
    text-align: center;
}

.col-2{
    flex: 75%;
}